################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Debug
/WindowsAPIProject.vcxproj.user
/WindowsAPIProject.aps
/packages/spdlog_native.2021.07.30
*.log
/out/build/x64-Debug
