# Ignore Visual Studio temporary files, build results, and .user files
.vs/
Debug/
x64/
out/
*.vcxproj.user
*.aps

# Ignore Visual Studio solution and project files
*.sln
*.vcxproj
*.vcxproj.filters

# Ignore CMake build folder
build/

# Ignore log files
*.log

# Ignore packages
/packages/

# Optionally, ignore CMakeSettings.json if not needed
# CMakeSettings.json
/config.ini
